.address-card {
  background: var(--surface-color);
  border-radius: var(--border-radius-general);
  cursor: pointer;
  transition: 0.2s;
  border: 2px solid transparent;
}

.address-card:hover {
  border-color: var(--accent-color);
}

.address-card.selected {
  border-color: var(--primary-color);
  background: #eaf1fb;
}

.address-card input[type="radio"] {
  cursor: pointer;
}
